<template>
    <div>
        <Header :username="username" :auth="auth" />
        <router-view></router-view>
    </div>
</template>
<script>
import Header from "./components/header"
export default {
    name:"App",
    components:{Header},
    data:()=>{
        return {
            initiated:false,
            user:null,
            username:null,
            auth:false,
        }
    },
    async mounted(){
        await this.init()
    },
    methods:{
        async init(){
            const {data} = await axios.get('/auth/init')
            if(data.user){
                this.username = data.user.username
                this.auth = data.user
            }
        }
    }
}   
</script>